:root {
    --mainColor: #ecd4ff;
    --modalColor: #fafabf;
    --btnColor: #d2e89a;
    --hoverColor: #aacb73;
    --memoryLvl1: #fdf7c3;
    --memoryLvl2: #ffdeb4;
    --memoryLvl3: #ffb4b4;
    --memoryLvl4: #b2a4ff;
}
