@media (min-width: 300px) {
    footer {
        background-color: var(--mainColor);
        height: 6vh;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 90%;
        position: fixed;
        z-index: 10;
        bottom: 0;
        padding: 0 5%;
    }

    footer > section {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    footer button {
        color: #d2e89a;
        background-color: ghostwhite;
        width: 5vh;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 5px;
        font-size: 20px;
    }
}

@media (min-width: 700px) {
    footer button {
        font-size: 24px;
    }
}

@media (min-width: 1000px) {
    footer button {
        font-size: 28px;
    }
}