/* MOBILE VERSION */
@media (min-width: 300px) {
    .keyword {
        display: flex;
        flex-direction: column;
    }

    .keyword-main {
        display: flex;
        flex-direction: column;
        /* row-gap: 5vh; */
    }

    .keyword-main > h3 {
        text-align: center;
        font-size: 20px;
        font-weight: 700;
    }

    .keyword-main > section {
        display: flex;
        justify-content: flex-end;
        column-gap: 1vw;
        padding: 5%;
    }

    .keyword-main > section > button {
        border: none;
        padding: 1vh;
        width: 12vh;
    }

    .keyword-main > section > button:hover {
        font-weight: 800;
    }

    .keyword-main > section > button:first-child {
        background-color: gainsboro;
    }

    .keyword-main > section > button:last-child {
        background-color: var(--btnColor);
        font-weight: 700;
    }

    .keyword-main > article {
        display: flex;
        flex-wrap: wrap;
        gap: 2vh;
        padding: 5%;
        overflow: scroll;
    }

    .keyword-main > article > button {
        border: none;
        /* background-color: #fdf7c3; */
        padding: 1vh;
        gap: 1vh;
    }

    .keyword-main > article > button:hover {
        scale: 1.1;
        transition: 0.3s;
    }
}

/* TABLET VERSION */
@media (min-width: 700px) {
    .keyword-main > h3 {
        font-size: 25px;
    }

    .keyword-main > section {
        padding: 4%;
    }

    .keyword-main > section > button {
        font-size: 16px;
    }

    .keyword-main > article > button {
        padding: 1.5vh;
        font-size: 16px;
    }
}

/* DESKTOP VERSION */
@media (min-width: 1000px) {
    .keyword-main > h3 {
        font-size: 27px;
    }

    .keyword-main > section {
        padding: 2% 5%;
    }

    .keyword-main > section > button {
        font-size: 16px;
    }

    .keyword-main > article {
        padding: 2% 5%;
    }

    .keyword-main > article > button {
        border: none;
        background-color: #fdf7c3;
        padding: 1.5vh;
        gap: 1vh;
        font-size: 16px;
    }
}
