@import "./reset.css";
@import "./variable.css";

/* Components */
@import "./components/footer.css";
@import "./components/backBtn.css";
@import "./components/hamburger.css";
@import "./components/modal.css";

/* Pages */
@import "./pages/intro.css";
@import "./pages/login.css";
@import "./pages/memoryWriting.css";
/* @import "./pages/addJar.css"; */
@import "./pages/addJarModal.css";
@import "./pages/keyword.css";
@import "./pages/calendar.css";
@import "./pages/memory.css";
@import "./pages/nojar.css";
@import "./pages/jarExist.css";


/* body {
    font-family: 
} */

.position1 {
    fill: red;
}

.position2 {
    fill: blue;
}