@media (min-width: 300px) {
    .addJar main {
        display: flex;
        flex-direction: column;
        row-gap: 5vh;
        align-items: center;
        text-align: center;
        padding-top: 30vh;
    }

    .addJar > main > section {
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
    }

    .addJar h3 {
        font-size: 20px;
        font-weight: 700;
    }

    .addJar > main > button {
        border: 2px solid var(--btnColor);
        background-color: var(--btnColor);
        padding: 3%;
    }

    .addJar > main > button:hover {
        background-color: var(--hoverColor);
    }
}

@media (min-width: 700px) {
    .addJar h3 {
        font-size: 22px;
    }

    .addJar h4 {
        font-size: 20px;
    }
    
    .addJar > main > button {
        padding: 2%;
    }
}

@media (min-width: 1000px) {
    .addJar > main > button {
        padding: 1%;
    }
}
