@media (min-width: 300px) {
    /* splash page css */
    .splash,
    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #ffffdc;
    }

    .splash img {
        width: 60vw;
        animation-name: shakeSplash;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-delay: 0.5s;
    }

    @keyframes shakeSplash {
        0% {
            transform: rotate(0deg);
        }
        10% {
            transform: rotate(20deg);
        }
        20% {
            transform: rotate(-20deg);
        }
        30% {
            transform: rotate(10deg);
        }
        40% {
            transform: rotate(-10deg);
        }
        50% {
            transform: rotate(5deg);
        }
        60% {
            transform: rotate(-5deg);
        }
        70% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }

    /* intro page css */
    .intro {
        row-gap: 8vh;
    }

    .intro img {
        width: 40vw;
    }

    .intro figure {
        display: flex;
        flex-direction: column;
        row-gap: 5vh;
        align-items: center;
    }

    .intro h1 {
        font-size: 30px;
        font-weight: 900;
        text-transform: uppercase;
        color: white;
        /* -webkit-text-stroke: 1px black; */
        text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
    }

    .intro article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 5vh;
    }

    .logInBtn {
        background-color: transparent;
        border: 2px solid var(--btnColor);
        border-radius: 20px;
        padding: 5%;
        width: 50vw;
    }

    .logInBtn:hover {
        background-color: var(--btnColor);
    }

    .signUpBtn {
        background-color: var(--btnColor);
        border: 2px solid transparent;
        border-radius: 20px;
        padding: 5%;
        width: 50vw;
    }

    .signUpBtn:hover {
        background-color: transparent;
        border: 2px solid var(--btnColor);
    }
}

@media (min-width: 700px) {
    /* splash page */
    .splash img {
        width: 40vw;
    }

    /* intro page */
    .intro img {
        width: 35vw;
    }

    .intro h1 {
        font-size: 40px;
    }

    .logInBtn,
    .signUpBtn {
        font-size: 18px;
        width: 40vw;
    }
}

@media (min-width: 1000px) {
    /* splash page */
    .splash img {
        width: 25vw;
    }

    /* intro page */
    .intro img {
        width: 20vw;
    }

    .logInBtn,
    .signUpBtn {
        font-size: 18px;
        width: 30vw;
    }
}
