#updateMemoryImg {
    display: none;
}
.uploadImgScreen {
    display: none;
}

@media (min-width: 300px) {
    .memoryWriting {
        display: flex;
        flex-direction: column;
        row-gap: 2vh;
        height: 100vh;
    }

    .memoryWriting .backBtn {
        display: flex;
        padding: 2% 4%;
    }

    .backBtn > img:hover {
        cursor: pointer;
    }

    .memoryWriting main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* height: 90vh; */
    }

    .memoryWriting .modalBox > #todayDate {
        font-size: 22px;
        font-weight: 800;
    }

    .memoryWriting .modalBox p {
        font-size: 18px;
        font-weight: 500;
    }

    .memoryWriting .memoryInputBox {
        display: flex;
        flex-direction: column;
        row-gap: 4vh;
        width: 100%;
    }

    .memoryWriting .memoryInputBox > aside {
        display: flex;
        flex-direction: column;
        row-gap: 1.5vh;
    }

    .memoryWriting .memoryInputBox > aside > input {
        border: none;
        padding: 4%;
    }

    .memoryWriting .colorBox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 2vw;
    }

    .memoryWriting .colorBox > img {
        width: 20px;
    }

    .memoryWriting .colorBtn {
        display: flex;
        flex-direction: row;
        width: 100%;
        box-shadow: 0 4px 4px -4px black;
    }

    .memoryWriting .colorBtn > button {
        width: 25%;
        height: 5vh;
        border: none;
    }

    .memoryWriting .colorBtn > button:hover {
        scale: 1.2;
        transition: 0.3s;
        box-shadow: 4px 4px 4px -4px black;
    }

    .memoryWriting .colorBtn > button:first-child {
        background-color: var(--memoryLvl1);
    }

    .memoryWriting .colorBtn > button:nth-child(2) {
        background-color: var(--memoryLvl2);
    }

    .memoryWriting .colorBtn > button:nth-child(3) {
        background-color: var(--memoryLvl3);
    }

    .memoryWriting .colorBtn > button:last-child {
        background-color: var(--memoryLvl4);
    }

    .memoryWriting .modalBox aside:nth-child(3) {
        position: relative;
        width: 100%;
    }

    .memoryWriting .modalBox textarea {
        width: 92%;
        height: 92%;
        border: none;
        height: 30vh;
        resize: none;
        padding: 4%;
    }

    .memoryWriting .updateMemoryImg {
        position: absolute;
        right: 10px;
        bottom: 10px;
    }

    .memoryWriting .updateMemoryImg:hover {
        cursor: pointer;
    }

    .memoryWriting .modalBox aside:last-child {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
    }

    .memoryWriting .modalBox [type="submit"] {
        background-color: var(--btnColor);
        border: 3px solid var(--btnColor);
        padding: 2%;
        width: 20vw;
        border-radius: 20px;
        left: 0;
    }

    .memoryWriting .modalBox [type="submit"]:hover {
        background-color: transparent;
        cursor: pointer;
    }
}

@media (min-width: 700px) {
    .memoryWriting {
        row-gap: 1vh;
    }

    .memoryWriting .memoryInputBox > aside > input {
        padding: 2%;
    }

    .memoryWriting .modalBox textarea {
        height: 25vh;
    }

    .memoryWriting .modalBox [type="submit"] {
        width: 15vw;
        border-radius: 20px;
        left: 0;
    }
}

@media (min-width: 1000px) {
    .memoryWriting {
        row-gap: 2vh;
    }

    .memoryWriting .backBtn {
        padding: 2% 3%;
    }

    .memoryWriting .modalBox p {
        font-size: 19px;
    }

    .memoryWriting .memoryInputBox > aside > input {
        padding: 1.5%;
    }

    .memoryWriting .modalBox textarea {
        height: 20vh;
    }

    .memoryWriting .modalBox [type="submit"] {
        width: 10vw;
        font-size: 19px;
        padding: 1%;
    }
}
